<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Serwer" value="f+0q0DaMitqIkbqDwPUgh7SmA0OL5vKitk7uCX3/ADoLZsquJ0o6g18rMHaq7QLe" />
    <add key="Baza" value="Ikj0NdtiBk3LpJ2Kyc/YdcLnXUNKJl4MWl5gSV6suhw=" />
    <add key="Uzytkownik" value="/kRF60V3ysdVMZ5R9yC3suUiO6El0mBuQIgHjKZc/Uk=" />
    <add key="UzytkownikHaslo" value="r5QDaodQsyBZXabx8paDroV9mI7gYwbFR8G+enaG2OI=" />
    <add key="Operator" value="wcB5uC4v7h1DSBMBy3+7PqzUpZBzCw61+plehQemooY=" />
    <add key="ApiUrl" value="http://localhost:8097/api/DokumentApi" />
  </appSettings>
</configuration>